extends layout

block content
  .col-md-3#profile2
    #profile
      h3.text-center= user.profile.name
      #avatar.center-block
        img(src=user.profile.picture)
      ul#stats.center-block.list-group
        li.list-group-item Score
          span.badge 1000
        li.list-group-item Credits
          span.badge 20

  .col-md-9#homemain
    h2 Filters
    .row#filters
      .row#filter.text-center
        select(class="selectpicker" title="What is your job preference?")
          option Front end web developer
          option Back end web developer
          option Big data and machine learning
          option Application developer
          option Software systems developer
          option Systems security

      .row#filter.text-center
        select(class="selectpicker" title="What is your proficiency?")
          option Starting undergrad
          option Finishing undergrad
          option Masters or Phd
          option Previous work experience (internship)
          option Previous work experience (high level)

      .row#filter.text-center
        select(class="selectpicker" multiple title="What languages are you familliar with?")
          option Java
          option Javascript
          option C
          option C++
          option C#
          option Python
          option Matlab

    .row#entervidmode
      h2 Choose role
      .col-md-6
        a(id="landing-signup" class='btn btn-lg center-block' href='/interview') Interviewer
      .col-md-6
        a(id="landing-signup" class='btn btn-lg center-block' href='/interview') Interviewee