extends layout

block content
  h1 Interview In Session
  p.Get ready to rumble
  hr

  .row
    .col-md-6
      .row
        block content
          <div id="remote-media"></div>
          <div id="controls">
            .col-md-4
              .row
                <div id="room-controls">
                  <p class="instructions">Join Interview!:</p>
                  //- <input id="room-name" type="text" placeholder="" />
                  <button id="button-join">Join Room</button>
                </div>
              .row
                <div id="preview">
                  <div id="local-media"></div>
                  <button id="button-preview">Preview My Camera</button>
                </div>
              //- .row
              //-   <div id="log"></div>
          </div>

    .col-md-6
      .row
        #codemirror

  .row#prompts
    .col-md-6
      h2 Example questions
    .col-md-6
      h2 Answers
