extends layout

block content
  h1 Interview In Session
  p.Get ready to rumble
  hr

  .row
    .col-md-6
      .row
        block content
          <div id="remote-media"></div>
          <div id="controls">
            .col-md-4
              <div id="preview">
                <p class="instructions">Hello Beautiful</p>
                <div id="local-media"></div>
                <button id="button-preview">Preview My Camera</button>
              </div>
            .col-md-4
              <div id="room-controls">
                <p class="instructions">Room Name:</p>
                <input id="room-name" type="text" placeholder="Enter a room name" />
                <button id="button-join">Join Room</button>
                <button id="button-leave">Leave Room</button>
              </div>
            .col-md-4
              <div id="log"></div>
          </div>

    .col-md-6
      .row
        #codemirror

  .row#prompts
    .col-md-6
      h2 Example questions
    .col-md-6
      h2 Answers

  .row
    a(id="landing-signup" class='btn btn-sm center-block' href='/feedback') Finish interview
