extends layout

block content
  h1 Interview In Session
  p.Get ready to rumble
  hr

  .row
    .col-md-6
      block content
        .row#vidrow
          <div id="remote-media"></div>
          <div id="local-media"></div>
        <div id="controls">
          .col-md-4
            .row
              <div id="room-controls">
                <button id="button-join">Join Room</button>
              </div>
        </div>

    .col-md-6
      .row
        #codemirror

  .row#prompts
    .col-md-6
      h2 Example questions
      ul
        li You are given two non-empty linked lists representing two non-negative integers. The most significant digit comes first and each of their nodes contain a single digit. Add the two numbers and return it as a linked list. You may assume the two numbers do not contain any leading zero, except the number 0 itself.
    .col-md-6
      h2 Answers
      ul
        li Code example

  .row
    a(id="landing-signup" class='btn btn-sm center-block' href='/feedback') Finish interview
