extends layout

block content
  h1 TechRoulette
  p.lead A peer to peer interview prep platform.
  hr
  .row
    .col-md-6
      p.center-text Stressed for that job interview? Build up your skills with real interviewers! Pick your job preference and start answering interview questions from real people over video chat
    .col-md-6
      a(id="landing-signup" class='btn btn-lg center-block' href='/login') Sign Up