extends layout

block landing
	<header>
		<div class="header-content">
			<div class="header-content-inner">
				<div class="row">
					<h1 id="homeHeading">A <span style="color: #3498db">peer</span> to <span style="color: #3498db">peer</span> interview prep platform.</h1>
					<hr>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
						<a id="landing-signup" href="/login" class="btn btn-lg center-block">Sign Up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">How it works
				</h2>
				<hr class="light">
				<p class="text">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
				<a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
				</div>
			</div>
		</div>
	</section>

	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">What We Provide</h2>
					<hr class="primary">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-users text-primary sr-icons"></i>
						<h3>Diverse Interviews</h3>
						<p>Access to a large bank of communal developer knowledge.</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
						<h3>Experience</h3>
						<p>Get practical interview experience required for acquiring the most sought after developer positions.</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-comments text-primary sr-icons"></i>
						<h3>Real Feedback and Support</h3>
						<p>Rapidly advance your skills with constructive feedback.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		//$('.main').css('padding-top', 0);
	</script>